<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elp.dao.PermissionDao">
	<resultMap id="BaseResultMap" type="com.elp.model.Permission">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectByUid" parameterType="INTEGER" resultType="String">
        select p.name from permission p, user_permission up
        where p.id = up.pid
        and p.status = 1
        and up.uid = #{uid, jdbcType=INTEGER}
	</select>
</mapper>